
div{
    padding-bottom: 1.5em;
    color: #628395;
    font-size: 1.2em;
}

input{
    padding: .7em;
    width: 6.5em;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    font-size: .7em;
}

input[type=text]:focus {
    background-color: lightcyan;
}

span{
    padding: 0 .3em 0 .1em;
}

#output, #logs{
    color: #d2691e;
}

.operators {
    background-color: #96897b;
    color: #ffffff;
    border-radius: 5px;
    display: inline-block;
    width: 2em;
    height: 2em;
    border-style: none;
    font-size: .7em;
}

.action {
    background-color: #96897b;
    border-style: none;
    padding: .65em 1.3em;
    border-radius: 5px;
    font-size: .95em;
    color: #ffd686;
    cursor: pointer;
}




