h3{
    color: #d2691e;
    font-size: 1.4em;
    margin-top: 1.5em;
}

p{
    color: #628395;
    font-size: 1.2em;
}

div#flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

form{
    margin: 0 0 1.3em;
}

fieldset{
    width: 20em;
}

legend{
    font-size: 1.2em;
    color: #d2691e;
}

label{
    display: inline-block;
    width: 5em;
    color: #628395;
    font-size: 1.3em;
}

input{
    padding: .7em;
    width: 9em;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    font-size: 1.1em;
    margin: .5em 0 0 .5em;
    color: #d2691e;
}

input[type=text]:focus {
    background-color: lightcyan;
}

.action {
    background-color: #96897b;
    border-style: none;
    padding: .65em 1.3em;
    border-radius: 5px;
    font-size: 1em;
    color: #ffd686;
    cursor: pointer;
}





