
h3{
    color: #628395;
    font-size: 1.35em;
}

p{
    color: #96897b;
    font-size: 1.2em;
}

video, iframe, canvas{
    width: 450px;
    height: 255px;
    border: 1px solid #628395;
}

canvas{
    font-family: 'Fredoka One', cursive;
}