/*---- DEFAULT SETTINGS FOR VENTURE----*/

#venture-top{
    border-top: 1.5px solid #628395;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#venture-top h2{
    display: inline-block;
    font-family: 'Walter Turncoat', cursive;
    text-align: center;
    font-size: 5.2vw;
    color: #628395;
    background-color: rgba(0,0,0,0.1);
    margin: 3% 4%;
    padding: 5px 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
}

#ven-detail{
    margin-bottom: 50px;
}

.ven-detaimg{
    width: 90%;
    margin: 0 auto 4%;
}

.ven-detaimg img{
    width: 100%;
    height: auto;
}

#tripinfowrapper{
    width: 90%;
    margin: 0 auto 4%;
    color: #628395;
    font-size: 4.7vw;
    letter-spacing: 1.5px;
    line-height: 150%;
}

#tripinfowrapper h4{
    font-size: 5vw;
    margin-bottom: 5px;
    padding:3px 5px;
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
}

#tripinfowrapper p{
    margin-bottom: 20px;
}

#tripinfowrapper ul{
    margin-bottom: 5px;
}

#last{
    text-align: center;
    margin-top: 50px;
}

#last a{
    text-decoration: none;
    padding: 0.6em 0.8em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    background: #CF995F;
    font-family: inherit;
    letter-spacing: 1px;
    font-size: 1.2em;
}


/*--- RESPONSIVE SETTINGS ---*/

@media only screen and (min-width: 450px) {
    #venture-top h2{
        font-size: 1.4em;}

    #tripinfowrapper{
        font-size: 1.3em;
    }

    #tripinfowrapper h4{
        font-size: 1.2em;}

}

@media only screen and (min-width: 500px) {
    #venture-top h2{
        font-size: 1.6em;}
}

@media only screen and (min-width: 600px) {
    #venture-top h2{
        font-size: 1.7em;
        margin-bottom: 6%;
    }


}

@media only screen and (min-width: 700px) {

    #venture-top h2{
        margin-bottom: 6%;
    }

    .ven-detaimg{
        float:left;
        width: 40%;
        margin: 0 2% 0 5%;
    }

    .ven-detaimg img{
        width: 100%;
        height: auto;
    }
}


@media only screen and (min-width: 800px) {
    #venture-top h2{
        font-size: 1.8em;
    }

}

@media only screen and (min-width: 1000px) {
    #venture-top h2{
        font-size: 1.9em;}
}

@media only screen and (min-width: 1200px) {
    #venture-top h2{
        font-size: 2em;}
}




















